body {
  background: linear-gradient(to right, rgb(33, 202, 214), rgb(228, 228, 78));
  padding: 0px; 
  margin: 0px;
  font-family:'Geneva', Verdana, sans-serif;
  font-weight: normal;
  height: 100vh;
}

.box1 {
  display: flex;
  justify-content: center;
}

.tittle {
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 15px;
  padding: 10px;
  margin: 30px;
  margin-bottom: 100px;
  color: rgba(255, 255, 255, 0.87);
  width: max-content;
  font-size: large;
}

.tittle > h2 {
  text-align: center;
}


.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4,100px);
  grid-template-rows:minmax(120px,auto) repeat(5,100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2em;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.70) ;
}
.calculator > button:hover {
  background-color: rgba(255,255,255,0.9);
}

.span-two {
  grid-column: span 2;
}

.screen {
  grid-column: 1/-1;
  background-color: rgba(0,0,0, .75);
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen > .previous {
  color: rgba(255,255,255,.75);
  font-size: 1.5rem;
}
.screen > .current {
  color: rgba(255,255,255);
  font-size: 2.5rem;
}

